@{
    ViewData["Title"] = "Hem";
}

<div class="text-center" style="position: relative;">
    <img style="width: 300px; height: auto;" alt="error" src="@Url.Content("https://mustafah99.github.io/Placeholder-Pizzeria---Mobile-Responsive-Webpage/images/Pizza-logo-design-template-Vector-PNG.png")" />
    <form>
        <button style="text-decoration: none; text-shadow: 0px 0px 12px #000; color: white; -webkit-box-shadow: 0px 0px 12px #000; box-shadow: 0px 0px 12px #000; border: none; border-radius: 5px; background: #f00c00; color: white; height: 40px; width: 130px; text-transform: uppercase; font-family: Alatsi", sans-serif; font-weight: 900; cursor: pointer;">Beställ Hem</button>
    </form>
</div>

<div style="position: relative; top: 230px; font-family: 'Alatsi', sans-serif; text-transform: uppercase; font-weight: bold; color: white; text-shadow: 0px 0px 12px #000;" class="text-left">
    <h2>Vilka vi är ❤ 🍕</h2>
    <p>Vi driver en underbar pizzeria mitt i hjärtat av Helsingborg! Vi har tillagat pizzor i flera år och siktar alltid på att ge våra kära kunder en god och varm upplevelse. Välkommen in!</p>
</div>
